<div class="w-100 px-50px">
    <table class="table bg-white p-4 rounded">
        <thead>
            <tr >
                <th scope="col-3" class="text-secondary-emphasis">Nom</th>
                <th scope="col" ></th>
                <th scope="col" class="text-center text-secondary-emphasis">Partages</th>
                <th scope="col" class="text-center text-secondary-emphasis">Clics</th>
                <th scope="col" class="text-center text-secondary-emphasis">Contacts</th>
                <th scope="col" class="text-center text-secondary-emphasis"></th>
            </tr>
        </thead>
        
        <tbody>
            @for(campaign of campaignList(); track campaign.id){
            <tr>
                <td class="py-4"><p class="fw-semibold text-secondary-emphasis mb-0">{{campaign.title}}</p>
                    @for(keyword of campaign.mainKeywords; track keyword.indexOf){
                        <button type="button" class="btn btn-crimson btn-sm text-white me-2 rounded-3">{{keyword}}</button>
                    }
                </td>
                <td><!--Avatar si existant--></td>
                <td class="text-center align-middle text-secondary-emphasis">{{campaign.currentShare }} <p class="small text-secondary">({{campaign.futurShare}} en attente)</p></td>
                <td class="text-center align-middle text-secondary-emphasis">{{campaign.targetsNum }}</td>
                <td class="text-center align-middle text-secondary-emphasis">{{campaign.contacts}}</td>
                <td class="text-center align-middle">
                    <button type="button" class="btn btn-grey-blue">
                        <fa-icon [icon]="faShareNodes"></fa-icon>
                    </button>
                    <button type="button" class="btn btn-grey-blue mx-2">
                        <fa-icon [icon]="faPencil"></fa-icon>
                    </button>
                    <button type="button" class="btn btn-grey-blue">
                        <fa-icon [icon]="faGear"></fa-icon>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    
    </table>
</div>